{
    "bootstrap": true,
    "server": true,
    "node_name": "{{ consul_node_name }}",
    "datacenter": "europe",
    "data_dir": "{{ consul_data_dir }}",
    "ui_dir": "{{ consul_ui_dir }}",
    "bind_addr":"0.0.0.0",
    "advertise_addr": "{{ current_ip }}",
    "retry_join": ["192.168.10.11", "192.168.10.12", "192.168.10.13"]
}
